<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>resId</key>
		<string>1</string>
		<key>name</key>
		<string>幽默笑话</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/short/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>3</string>
		<key>name</key>
		<string>仙鬼传奇</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/long/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>11</string>
		<key>name</key>
		<string>民间故事</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/long/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>2</string>
		<key>name</key>
		<string>寓言故事</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/long/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>12</string>
		<key>name</key>
		<string>少儿故事</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/long/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>17</string>
		<key>name</key>
		<string>笑话大全</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/long/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>8</string>
		<key>name</key>
		<string>经典语录</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/short/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>14</string>
		<key>name</key>
		<string>生活常识</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/short/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>13</string>
		<key>name</key>
		<string>午夜密语</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/short/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>16</string>
		<key>name</key>
		<string>无聊美文</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/long/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>7</string>
		<key>name</key>
		<string>狂人自传</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/long/loading</string>
	</dict>
	<dict>
		<key>resId</key>
		<string>10</string>
		<key>name</key>
		<string>心情随笔</string>
		<key>url</key>
		<string>https://www.wuliaokankan.cn/long/loading</string>
	</dict>
</array>
</plist>
